In [1]:
# Importing libraries 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Imoporting dataset
dataset = pd.read_csv("C:/Users/DELL/Downloads/50_Startups.csv")

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
# Checking for null values

dataset.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [5]:
X = dataset.iloc[:, :-1]
Y = dataset.iloc[:, 4:]

In [6]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [7]:
dataset.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [8]:
states = pd.get_dummies(X['State'], drop_first=True)

In [9]:
X=X.drop('State', axis=1)

In [10]:
X=pd.concat([X,states],axis=1)

In [11]:
X.head(2)

   R&D Spend  Administration  Marketing Spend  Florida  New York
0   165349.2       136897.80        471784.10        0         1
1   162597.7       151377.59        443898.53        0         0

In [12]:
# Splitting the database into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

In [13]:
# Fitting multiple linear regression model into training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [14]:
# Predicting the test results

y_pred = regressor.predict(X_test)

In [15]:
# R^2 = 1 - (sum of residual / sum of mean)

from sklearn.metrics import r2_score
score = r2_score(Y_test,y_pred)

In [16]:
print(score)

0.9347068473282424